.admin-work-container .MuiDataGrid-root {
  border-radius: 10px;
}

.admin-work-container .MuiDataGrid-root .MuiDataGrid-row.Mui-selected {
  background-color: var(--table-selected-color);
}
.admin-work-container .MuiDataGrid-root .MuiDataGrid-row:hover {
  background-color: var(--table-selected-color);
}

.admin-work-container .MuiDataGrid-root .MuiDataGrid-row.Mui-selected:hover {
  background-color: var(--table-selected-color);
}

.admin-work-container .MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
}

.admin-work-container .MuiDataGrid-columnHeaders {
  color: var(--black);
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.admin-work-container .MuiDataGrid-virtualScroller {
  background-color: white;
}

.admin-work-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--point-color); */
  height: 15%;
  padding: 10px 20px;
  margin-bottom: 1px;
  color: white;
  border: 1px solid var(--gray);
  border-radius: 10px;
  background: linear-gradient(to right, var(--point-color) 10%, rgb(252, 173, 82) 50%);
}

.admin-work-container .header .title-wrapper {
  display: flex;
  align-items: flex-end;
}

.admin-work-container .header .title-wrapper .title {
  font-size: 25px;
  margin-right: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

.admin-work-container .header .input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: auto;
  height: 100%;
}

.admin-work-container .header .input-container .input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 20px;
  /* margin-bottom: 10px; */
}

.admin-work-container .header .date-picker {
  background-color: var(--input-color);
  color: var(--black);
  font-size: 15px;
  margin-left: 10px;
  width: 95%;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #eaeaea;
}

.admin-work-container .header .input {
  background-color: var(--input-color);
  color: var(--black);
  border-bottom: 1px solid white;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  margin-left: 10px;
}

.admin-work-container .MuiDataGrid-toolbarContainer {
  background-color: var(--navy);
  color: white;
}

.admin-work-container .MuiDataGrid-toolbarContainer .MuiButton-root {
  color: white;
}

.admin-work-container .header .input::placeholder {
  color: var(--black);
}

.admin-work-container .header .input:focus {
  border: 2px solid var(--second-point-color);
  color: var(--black);
}
