.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-container .tb-isOnWork {
  max-height: 500px;
  width: 20%;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.main-container .tb-isOnWork .tb-title {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  vertical-align: middle;
  background-color: var(--point-color);
  color: white;
  font-weight: bold;
}

.main-container .tb-isOnWork .btn-dot {
  background-color: rgb(84, 178, 84);
  border-radius: 50%;
  height: 15px;
  width: 15px;
}
