:root {
  --orange: #dd6e42;
  --yellow: #e8dab2;
  --navy: #4f6d7a;
  --skyBlue: #c0d6df;
  --gray: #eaeaea;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 15px;
  background-color: var(--navy);
  color: white;
}

.main-header .logo {
  font-size: 20px;
  font-weight: bold;
}

.main-header .btn-logOut {
  font-size: 20px;
}
