.nav-container {
  display: flex;
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  justify-content: space-around;
  background-color: var(--navy);
  /* background-color: lightgray; */
  padding: 5px 0px;
  /* border: 1px solid black; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.nav-container > li {
  margin: 10px;
}

.nav-container > li > a {
  /* padding: 10px; */
  /* z-index: -1; */
  color: white;
  font-size: 20px;
}

.nav-container .active {
  /* z-index: -1; */
  /* font-size: 25px; */
  color: orange;
}
