:root {
  --orange: #dd6e42;
  --yellow: #e8dab2;
  --navy: #4f6d7a;
  --skyBlue: #c0d6df;
  --gray: #eaeaea;
}

.work-check-container {
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.work-check-container > h3 {
  margin-bottom: 10px;
}

.work-check {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  height: 300px;
  margin: 0 auto;
  /* text-align: center; */
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.cur-date {
  flex-shrink: 1;
}

.cur-time {
  font-size: 30px;
}

.work-btn {
  padding: 20px 40px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.home-btn {
  border-left: wheat 1px solid;
}

.work-icon {
  font-size: 30px;
  margin-bottom: 10px;
}

.icon-work {
  color: #8dda94;
}

.icon-home {
  color: #e6a7a1;
}
