.userInfo-modal-conatiner .header {
  font-size: 20px;
  padding: 20px;
  background-color: var(--point-color);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  color: white;
  font-weight: bold;
}

.userInfo-modal-conatiner .body {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 20px;

  /* justify-content: space-around; */
}

.userInfo-modal-conatiner .rows {
  width: 100%;
  margin-top: 17px;
}

.userInfo-modal-conatiner .rows .title {
  color: gray;
  margin-bottom: 3px;
  font-size: 14px;
}

.userInfo-modal-conatiner .rows .input {
  border: 1px solid #eaeaea;
  background-color: var(--input-color);
  border-radius: 5px;
  padding: 10px 15px;
  letter-spacing: 2px;
  margin-top: 5px;
  width: 100%;
}

.userInfo-modal-conatiner .rows .input:focus {
  outline: none;
  border: 2px solid var(--point-color);
}

.userInfo-modal-conatiner .btn-container {
  display: flex;
  justify-content: space-between;
  /* margin-right: 10px; */
  padding: 25px 10px;
}

.userInfo-modal-conatiner .btn-container > button {
  padding: 10px;
  margin: 0px 10px;
  border-radius: 5px;
  width: 60%;
}

.userInfo-modal-conatiner .btn-container .btn-save {
  background-color: var(--point-color);
  color: white;
  letter-spacing: 1px;
}

.userInfo-modal-conatiner .btn-container .btn-cancle {
  background-color: darkgray;
  color: white;
  letter-spacing: 1px;
}
