.breakStatus-modal-conatiner .header {
  padding: 20px;
  background-color: var(--point-color);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.breakStatus-modal-conatiner .body {
  display: flex;
  align-items: center;
  padding: 0px 30px;
  justify-content: center;
  height: 60%;
}

.breakStatus-modal-conatiner .form-control {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 15px;
  padding: 20px 20px;
}

.breakStatus-modal-conatiner .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: var(--second-point-color);
}

.breakStatus-modal-conatiner .form-control .radio-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.breakStatus-modal-conatiner .btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 0px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.breakStatus-modal-conatiner .btn-container > button {
  padding: 10px 30px;
  margin: 0px 10px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) -1px 1px 2px 0px;
}

.breakStatus-modal-conatiner .btn-container .btn-save {
  background-color: var(--point-color);
  color: white;
  font-weight: bold;
}

.breakStatus-modal-conatiner .btn-container .btn-cancle {
  background-color: darkgray;
  color: white;
  font-weight: bold;
}
