:root {
  --orange: #dd6e42;
  --yellow: #e8dab2;
  --navy: #4f6d7a;
  --skyBlue: #c0d6df;
  --gray: #eaeaea;
}

.breakStatus-modal-conatiner .header {
  font-size: 20px;
  padding: 20px;
  background-color: var(--navy);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  color: white;
}

.breakStatus-modal-conatiner .body {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  align-items: center;
  height: auto;
  padding: 30px;
  justify-content: center;
}

/* .breakStatus-modal-conatiner .rows .input {
  border: solid 1px darkgray;
  border-radius: 5px;
  padding: 10px 15px;
  letter-spacing: 5px;
  margin-top: 5px;
} */

.btn-status {
  font-size: 13px !important;
  background-color: transparent;
}

.form-control {
  width: 100%;
  border: 1px solid var(--skyBlue);
  border-radius: 15px;
  padding: 10px 20px;
}

.breakStatus-modal-conatiner .form-control .radio-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.breakStatus-modal-conatiner .btn-container {
  display: flex;
  justify-content: flex-end;
  /* margin-right: 10px; */
  padding: 10px 30px;
}

.breakStatus-modal-conatiner .btn-container > button {
  padding: 10px 30px;
  margin: 0px 10px;
  border-radius: 5px;
}

.breakStatus-modal-conatiner .btn-container .btn-save {
  background-color: var(--navy);
  color: white;
}

.breakStatus-modal-conatiner .btn-container .btn-cancle {
  background-color: darkgray;
  color: white;
}
