:root {
  --orange: #dd6e42;
  --yellow: #e8dab2;
  --navy: #4f6d7a;
  --skyBlue: #c0d6df;
  --gray: #eaeaea;
}

.workTime-modal-conatiner .header {
  font-size: 20px;
  padding: 20px;
  background-color: var(--navy);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  color: white;
}

.workTime-modal-conatiner .body {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  align-items: center;
  height: auto;
  padding: 30px;
  justify-content: space-around;
}

.workTime-modal-conatiner .rows .input {
  border: solid 1px darkgray;
  border-radius: 5px;
  padding: 10px 15px;
  letter-spacing: 5px;
  margin-top: 5px;
}

.workTime-modal-conatiner .btn-container {
  display: flex;
  justify-content: flex-end;
  /* margin-right: 10px; */
  padding: 10px 30px;
}

.workTime-modal-conatiner .btn-container > button {
  padding: 10px 30px;
  margin: 0px 10px;
  border-radius: 5px;
}

.workTime-modal-conatiner .btn-container .btn-save {
  background-color: var(--navy);
  color: white;
}

.workTime-modal-conatiner .btn-container .btn-cancle {
  background-color: darkgray;
  color: white;
}
