.workTime-modal-conatiner .header {
  padding: 20px;
  background-color: var(--point-color);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.workTime-modal-conatiner .body {
  display: flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  align-items: center;
  height: auto;
  padding: 30px;
  justify-content: space-around;
}

.workTime-modal-conatiner .rows .title {
  color: var(--black);
  font-size: 15px;
  letter-spacing: 2px;
}

.workTime-modal-conatiner .rows .input {
  background-color: var(--input-color);
  border: solid 1px var(--gray);
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 5px;
  margin-top: 10px;
  width: 100%;
}

.workTime-modal-conatiner .btn-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

.workTime-modal-conatiner .btn-container > button {
  padding: 10px 30px;
  margin: 0px 10px;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 15%) -1px 1px 2px 0px;
}

.workTime-modal-conatiner .btn-container .btn-save {
  background-color: var(--point-color);
  color: white;
  font-weight: bold;
}

.workTime-modal-conatiner .btn-container .btn-cancle {
  background-color: var(--cancle-btn-color);
  color: white;
  font-weight: bold;
}
