:root {
  --orange: #dd6e42;
  --yellow: #e8dab2;
  --navy: #4f6d7a;
  --skyBlue: #c0d6df;
  --gray: #eaeaea;
}

.status-modal-conatiner .header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 20px;
  background-color: var(--navy);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  color: white;
}

.status-modal-conatiner .tab-summary {
  height: 60%;
}

.status-modal-conatiner .tab-summary .group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.status-modal-conatiner .tab-summary .group .title {
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--navy);
  color: white;
}

.status-modal-conatiner .tab-summary .group .count {
  padding: 10px 30px;
  background-color: darkgray;
  color: white;
  height: 100px;
}

.status-modal-conatiner .header .btn-close {
  cursor: pointer;
}

.status-modal-conatiner .btn-container {
  display: flex;
  justify-content: flex-end;
  /* margin-right: 10px; */
  padding: 10px 30px;
}

.status-modal-conatiner .btn-container > button {
  padding: 10px 30px;
  margin: 0px 10px;
  border-radius: 5px;
}

.status-modal-conatiner .btn-container .btn-save {
  background-color: var(--navy);
  color: white;
}

.status-modal-conatiner .btn-container .btn-cancle {
  background-color: darkgray;
  color: white;
}
