.status-modal-conatiner .header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  background-color: var(--point-color);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  color: white;
}

.status-modal-conatiner .css-1aquho2-MuiTabs-indicator {
  background-color: var(--point-color) !important;
}

.status-modal-conatiner .css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--point-color) !important;
}

.status-modal-conatiner .tab-panel {
  height: 70%;
}

.status-modal-conatiner .tab-panel .tab-summary {
  display: flex;
  height: 100%;
  align-items: center;
}

.status-modal-conatiner .tab-panel .tab-summary .group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}

.status-modal-conatiner .tab-panel .tab-summary .group .element {
  border: 2px solid var(--orange);
  border-radius: 5px;
  width: 30%;
  height: 100%;
}

.status-modal-conatiner .tab-panel .tab-summary .group .title {
  width: 100%;
  padding: 10px 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  letter-spacing: 5px;
  color: white;
  background-color: var(--orange);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-weight: bold;
}

.status-modal-conatiner .tab-panel .tab-summary .group .count {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: center;
  justify-content: center;
  height: 100px;
}

.status-modal-conatiner .tab-panel .tab-summary .group .count > span {
  font-size: 35px;
  color: var(--orange);
  font-weight: bold;
  margin-right: 3px;
}

.status-modal-conatiner .header .btn-close {
  cursor: pointer;
  padding-left: 20px;
  padding-right: 10px;
  color: white;
}
